<nav class="navbar">
    <div class="logo">Pet Shop</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/vet">Veterinary Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/cart">Cart</a></li>
       
    </ul>
</nav>
