<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/shop.css">

</head>
<body>
    <%- include('./navbar.ejs') %>

    <div class="container">
        <h2>Shop</h2>
        <p>Find the best products for your pets!</p>

        <div class="product-grid">
            <div class="product">
                <img src="/images/Chew Bone.jpeg" alt="Pomeranian Dog">
                <h3>Chew Bone</h3>
                <p>RS 459</p>
                <button>Add to Cart</button>
            </div>

            <div class="product">
                <img src="/images/pedgree.jpeg" alt="Dog Food">
                <h3>Dog Food 5Kg</h3>
                <p>Rs 499</p>
                <button>Add to Cart</button>
            </div>
            <div class="product">
                <img src="/images/Cat Scratcher.jpeg" alt="Cat Toy" onerror="this.onerror=null; this.src='/images/placeholder.jpg';">
                <h3>Cat Scratcher</h3>
                <p>Rs 299</p>
                <button>Add to Cart</button>
            </div>
            
            <div class="product">
                <img src="/images/Squeaky Toy.jpeg" alt="Siamese Cat" onerror="this.onerror=null; this.src='/images/placeholder.jpg';">
                <h3>Squeaky Toy</h3>
                <p>Rs 699</p>
                <button>Add to Cart</button>
            </div>
            
            <div class="product">
                <img src="/images/Pethouse.jpg" alt="White Scottish Fold" onerror="this.onerror=null; this.src='/images/placeholder.jpg';">
                <h3>Pet House</h3>
                <p>Rs 2999</p>
                <button>Add to Cart</button>
            </div>
            
            <div class="product">
                <img src="/images/shampoo.jpeg" alt="Golden Retriever" onerror="this.onerror=null; this.src='/images/placeholder.jpg';">
                <h3>Grooming Shampo</h3>
                <p>Rs 499</p>
                <button>Add to Cart</button>
            </div>
            
            
        </div>
    </div>
    <section class="cta">
        <h2>Have a Question or Need Help?</h2>
        <a href="/contact">Contact Us</a>
    </section>

    <footer>
        © 2025 Pet Shop. All rights reserved.
    </footer>
</body>
</html>